certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-SocketIO==3.0.2
gevent==1.3.7
greenlet==0.4.15
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.0
numpy==1.15.3
pycparser==2.19
python-engineio==2.3.2
python-socketio==2.0.0
requests==2.20.0
six==1.11.0
socketIO-client==0.7.2
tcod==7.0.1
urllib3==1.24
websocket-client==0.53.0
Werkzeug==0.15.3
